     <div>
          

            <% if (locals.user !== null) { %>
                      
                   <span class="bg-slate-800 p-3 rounded">
                     <%= user.email %>
                   </span>
                 
            <% } %>

     </div>