
 
   <% if (typeof message !== null && typeof message !== "undefine") { %>
    
   <div class="w-6
     p-5
      bg-black
      rounded-md
       text-center">
     <span> 
         
         <%= 
             message
              %>
     </span>
   </div>
   <% } %>
