 
  <style>
    .input-section input:focus ,
    .input-section input:valid~ label{
           top: -8px;
            
             font-size: 12px;
       }
  </style>
  
  <div class="w-96
  bg-none
m-auto
   flex 
    items-center
     h-full2
     ">
 <div class="wrapper
 w-96
 h-96
rounded-sm
 bg-transparent
m-auto 
 text-center
  border-solid
   border-1
">
<h1
class="
text-center
 text-3xl
  bg-orange-300
   p-2 
  "
> Current_Password
<br>
  
 <span 
 class="warming-Massage
  text-sm
   text-red-700
    p-1">
    <% if ( typeof  massage !== null && typeof massage !== 'undefined' ) { %>
      <%= massage %>
    <% } %>
   </span>
</h1>
 
      <div class="input-form
         backdrop-blur-2xl
           p-2 
        ">
           <form action="/setting/u/check_pw" method="post" enctype="application/x-www-form-urlencoded">
   <div class="input-section 
      first-pw
   w-full
   p-2
    border-solid
    border-black
     border-b-2
     m-1 
   relative
   "> 
     <input
      
      type="password" name="Password" id="GhostPass"
     class="
      w-full
      bg-transparent
       outline-none
       border-none

  text-xl 
        font-semibold
        placeholder-black

         "
          placeholder="Password"
     required >
     

         
        <span id="ShowHide" class="show-hide
        absolute
         justify-center
        top-1/4
         right-2
          bg-slate-950
           rounded
            p-1
             cursor-pointer
             text-white
              mb-3
         ">
           show
        </span>
        
   </div>


     
 <div class="btn
  m-3">
     <button type="submit"
     id="sub-btn"
     class="
     bg-gray-800
    text-white
     p-3
      rounded-sm

     "> Done</button>
 </div>

 
           </form>
          
      </div>
 </div> 
</div>

<script>
     
     const password = document.getElementById("GhostPass");

   const showHide = document.getElementById("ShowHide");
   const typeofthing = password.type
    
      showHide.addEventListener("click",()=>{
        const typeofthing = password.type
           if(typeofthing ==="password"  ){
                   password.type ="text";
                    showHide.innerHTML = "Hide"
           }else{
            password.setAttribute("type","password");;
                    showHide.innerText = "Show"
           }
         
      })


    

        
               
    
</script>