 <div class="bg-slate-900 p-5 rounded">
     Ghost Are 
      All Here  
 
       <br> 
    <div
    
    class="text-white
      bg-orange
       p-4
        round
         w-40">
         <a href="/auth/checkme">
              GoogleAuthen Now
         </a>
    </div>

        
 </div>