 
  
   <div class="bg-pink-300
       w-36
         p-3 
          rounded
            text-center
             m-auto
             ">

               <% if (typeof user !== null && typeof user !== "undefined") { %>
                
                   <%= 
                     user.StageName %> welcome account is verified

               <% } %>
   </div>