<!-- <head>
      <style>
      #map {
        height: 400px;
        width: 70%;
        margin: auto;
      }
    </style>
  </head>

    <div id="map"></div>
    <script>

// getting the user longi and the latitube
  navigator.geolocation.getCurrentPosition(success,errofindlocation,{
    enableHighAccuracy  :true
  })
   

//    for the function 
 function success(position){
     setPoint([position.coords.longitude,position.coords.latitude])
      console.log(position)
 }
  function errofindlocation(){
     console.log("there is no internet connection")
  }


//     raping this around function 
 
 function setPoint(currentlocation){

  mapboxgl.accessToken = 'pk.eyJ1IjoiYmlzMzY5IiwiYSI6ImNsaHcxa3JnMzA2cjgzZnJ1eGtha3pwM3IifQ.LoFE25LDsqxwiZR2fczw-g';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11' ,// Custom style URL or local file
         center : currentlocation,
         zoom : 30
      });


       const control = new mapboxgl.NavigationControl();
        map.addControl(control);
 }

    </script> -->

  




