  <div class="
   prompt_delete
    hidden
    top-1/2
    left-1/2
   -translate-x-1/2
   -translate-y-1/2
    z-50
  fixed flex-col w-fit p-4 m-auto mt-2">
  
 <div class="flex flex-row
  rounded-lg
   w-fit
    p-3
m-auto
 
  items-center 
   bg-black ">
       
  <div class="section bg-black
   border-r-2 border-solid border-r-white text-center text-2xl text-white">
   Do you want to Delete to Prototype post
                                               </div>

<span class="bg-red-500
m-2
     cursor-pointer w-fit p-3 rounded-md">
        Yes
     </span>

     <span class="bg-green-500 
m-2
      cursor-pointer w-fit p-3 rounded-md">
      Cancel
   </span>
 </div>
     
  </div>

 