
    
<% if (typeof bol !== null && typeof bol !== 'undefined') { %>
    <div 
     id="btns-creden"
     class="
     pt-8
     w-fit
    
      flex
      flex-col
      gap-1
      m-auto
     text-white
     btns-creden"
       style="grid-column-start: 2;
        grid-row-start: 1;">
     
     <span
   class="btn-education
      bg-blue-400
         
         m-1
        rounded-md
         cursor-pointer">
         <i     id="btn-education" class="fas -z-20 fa-graduation-cap"></i>
       </span> 
     
         <span class="btn-display
      bg-blue-400
         m-1
        rounded-md
         cursor-pointer">
         <i  id="btn-display" class="fas -z-20 fa-hard-hat"></i></span> 
     
         <span 
          class="btn-privacy
      bg-blue-400
         m-1
        rounded-md
         cursor-pointer">
         <i   id="btn-privacy"; class="fas -z-20 fa-users"></i></span> 
     
       



     </div>  
   <% } else{%>
   <div id="btns-creden"> 

   </div>
       <% } %>