 
  <style>
    .input-section input:focus ,
    .input-section input:valid~ label{
           top: -8px;
            
             font-size: 12px;
       }
  </style>
  

 <div class="
 Educa-form
 fixed
 z-50

 top-1/2
 left-0
hidden
ease-in-out
 duration-200
 bg-white
      rounded-md
      p-2
      border-2
      border-white
 w-96
 h-96
m-auto 
 text-center
  border-solid
   border-1
">
<h1
class="
text-center
 text-3xl
  bg-orange-300
   p-2 
  "
> Education</h1>
   
 
      <div class="input-form
         backdrop-blur-2xl
           p-2 
        ">
          
   <div class="input-section
   w-full
   p-1
    border-solid
    border-black
     border-b-2
     m-1 
   relative
   "> 
     <input type="text"  id="sch-name"
     class="
      w-full
     outline-none
      bg-transparent
       border-none
        text-xl 
        font-semibold
         placeholder-black
          "
          placeholder="Institution-Name"
     required >
   </div>

    
    
 <!--  here is for what the person did there  -->
   <div class="input-section
     did_what_parent
   w-full
   p-2
    border-solid
    border-black
     border-b-2
     m-1 
   relative
   "> 
     <input type="text"  id="didwhat"
     class="
      w-full
     outline-none
      bg-transparent
       border-none
        text-xl 
        font-semibold
         placeholder-black
         "
      placeholder="what you did" >
       
        <span 
          id="Add-Done"
         class="show-hide
        absolute
         justify-center
        top-1/4
         right-2
          bg-slate-950
           rounded
            p-1
             cursor-pointer
             text-white
              mb-3
         ">
           Add
        </span>
        
   </div>


 <div class="btn-save-crendentials
  m-3">
   
     <button 
     type="submit"
      
     class="
     btn_save_crendentials_2
     bg-gray-800
    text-white
     cursor-pointer
     p-3
      rounded-sm

     ">Save</button>
 </div>

         
      </div>
 </div> 



 <!--  script for the show and the hiding of theo  password --> 
  <script>
      let save_btn  = document.querySelector(".btn_save_crendentials_2");
       
 
       //  checking if the elemnt is there
       let Add_Done_btn = document.getElementById("Add-Done");
 let array_didwhat = [];


  //  Adding of did_whats
  Add_Done_btn.addEventListener("click",()=>{
      let  didwhat =  document.getElementById("didwhat").value;
      let  didwhatnew =  document.getElementById("didwhat");
      let parent_did_what = document.querySelector(".did_what_parent");

        if(didwhat !== null){
        //  wrapper to hold them
         let wrapper_didwhat = document.createElement("div");
          wrapper_didwhat.classList.add("bg-red-300");
          // for a small did what 
           let small_did_what = document.createElement("span");
           small_did_what.innerText = didwhat;
                // Pushing it intp the array
            array_didwhat.push(didwhat);
            wrapper_didwhat.appendChild(small_did_what);
            parent_did_what.appendChild(wrapper_didwhat);
          //  then we clear the input fill
        didwhatnew.value = ""
      }else{
           didwhatnew.classList.add("border-2","border-red-300","border-solid")
      }
   
   
      })
      
      let count = 0;
  save_btn.addEventListener("click",()=>{
     
     //  for getting the value in the input filed of the institution
 let education   = document.getElementById("sch-name").value.replace(/\s/g,'');
  // for the getting of the current didwhat in the input section 
 let  didwhat =  document.getElementById("didwhat").value;
  //  for the case where the user enter only one value
   if(array_didwhat !== null && didwhat !== ''){
     array_didwhat.push(didwhat);
   }
  if(education !== null && didwhat !== null || array_didwhat.length !== 0){
    //  do the sending of the info
  
   fetch(`/setting/u/creadential/?education=${encodeURI(education)}`,{
     headers  :{"Content-Type" : "application/json"},
      method : "POST",
       body  : JSON.stringify({all_did_what : array_didwhat})
   }).then(
         // for the redirecting
          res =>{ if(res.redirected){
            
           //  then do to thay place
            window.location.href = res.url
             
 
          } }
    
      )
 
 count+=1

     
   }
  })

  
  
  
   
  </script>