
<footer
class="flex
  bg-slate-900 text-white 
 justify-center items-center 
flex-col 
h-18
 col-span-full
 row-span-full
 "
   style="grid-area: 4/1/5/7;" 
  > 
   <!--  -->
   <ul
    class="
     flex
     min-w-full
      items-center
       justify-center
        text-sm
        font-serif
       "
    >
     <li
      class="m-1"><a href="#"> Hope</a></li>
      <li
      class="m-1"><a href="#"> Hope</a></li>
      <li
      class="m-1"><a href="#"> Hope</a></li>
      <li
      class="m-1"><a href="#"> Hope</a></li>
     
   </ul>
<!-- for the media pattners -->

<ul
class="
flex
items-center
 justify-center
  flex-wrap
  text-sm
  font-serif
 "
>
   <li class="m-1"><a   class=" duration-500 ease-in-out inline-block relative hover:translate-y-6" href="#"> Gol</a></li>
   <li class="m-1"><a   class=" duration-500 ease-in-out inline-block relative hover:translate-y-6" href="#"> Gol</a></li>
   <li class="m-1"><a   class=" duration-500 ease-in-out inline-block relative hover:translate-y-6" href="#"> Gol</a></li>
   <li class="m-1"><a   class=" duration-500 ease-in-out inline-block relative hover:translate-y-6" href="#"> Gol</a></li>


</ul>
<div class="container mx-auto text-center">
<p class="text-sm">&copy; 2023 errmm blah.... All rights reserved.</p>
</div>
</footer>