<!-- loading.ejs -->




<div id="loading-page" class="fixed
 z-50
 w-screen
 h-full2
hidden
  bg-none
   backdrop-blur-sm">

    <img class="w-32 h-32 bg-white p-3 rounded-full" src="loading.gif" alt="">
</div>
