
    






<div 
id="various_op"

class="btn
w-fit
h-fit
 p-3
 justify-center
  flex
   flex-col
  bg-red-950
   text-center
    text-sm
    fixed
     text-white
     font-sans
     top-1/4
     left-1
     space-y-2
     rounded-tr-3xl
     rounded-br-3xl
     z-40
      ">
<!-- for the acount thing  -->

 <span class="Account
  text-white bg-gray-900 p-2
   rounded-lg font-sans  ">
       <a href="/setting/u/Account">
             Account
       </a>
 </span>


 <span class="Account
  text-white bg-gray-900 p-2
   rounded-lg font-sans  ">
       <a href="/setting/u/set_interest">
             Interest
       </a>
 </span>


 <span class="Account text-white bg-gray-900 p-1
   rounded-lg font-sans  ">
       <a href="/setting/u/Privacy">
            Privacy
       </a>
 </span>


 <span class="Account text-white bg-gray-900 p-1
   rounded-lg font-sans  ">
       <a href="/setting/u/Notification">
            Notification
       </a>
 </span>

       



</div>











 
       
