<div id="now">
 
     <!--  here the user is going to be given 
        the choose of the changing of the bg of the page  -->
 
         <span> 
             We do not know wheather to make 
              it changable or othere
         </span>
         
         
 </div>